public
themes/hugo-academic/exampleSite
.Rproj.user
resources

static/livros/producao-de-informacao-de-recursos-do-solo/_book/
static/livros/producao-de-informacao-de-recursos-do-solo/_bookdown_files/

static/livros/gestao-dados-solo/_bookdown_files/
static/livros/introducao-ao-r/_bookdown_files/
themes/starter-academic/exampleSite/
.hugo_build.lock
