/*************************************************
 *  Documentation layout
 **************************************************/

.docs-toc-item {
  font-size: 1rem;
}

.docs-sidebar .nav > li > a {
  padding-top: 0rem;
  padding-right: 1.5rem;
  padding-bottom: 0rem;
  padding-left: 2rem;
  font-size: 0.8rem;
}
