<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<style>
    .dataTables_wrapper {
        font-size: 0.8rem;
    }
</style>

<script>
$(document).ready(function() {
    $('#buscafebr').DataTable( {
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Portuguese-Brasil.json"
	},
        "ajax": "../catalogo.txt",
        "columns": [
            { "data": "dados_id", "width": "12%" },
            { "data": "dados_titulo", "width": "40%" },
            { "data": "dados_autor", "width": null }
        ]
    } );
} );
</script>

